<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ESLA <%= @user.username!%></h1>
    <p>
      We are so glad to have you on our site. Thanks for being willing to contribute, and have a great day!<br>
    </p>
    <p>
      Please do not reply to this e-mail - it is sent by an automated account, and nobody is checking for replies.
    </p>
  </body>
</html>